#Adicionando TinyDb

In [ ]:
from tinydb import TinyDB, Query
import os
import pandas as pd

In [ ]:
db = TinyDB(os.path.join('DB','estrategys.json'))

In [ ]:
arr = os.listdir("estrategy results")
arr

In [14]:
doc1 = pd.read_csv(os.path.join("estrategy results",arr[0]))
doc1

                                       ;sma1;sma2;output
0      0;2;1;"Start                     2018-06-03 20...
1          End                       2021-10-31 20:59...
2          Duration                   1246 days 00:00:00
3          Exposure Time [%]                      75.419
4          Equity Final [$]                  1.03439e+08
...                                                  ...
20889      SQN                                  0.411821
20890      _strategy                            SmaCross
20891      _equity_curve                             ...
20892      _trades                            Size  E...
20893                                     dtype: object"

[20894 rows x 1 columns]